*.elc
*~
.emacs.d/session.*
.emacs.d/projectile-bookmarks.eld
.emacs.d/projectile.cache
.emacs.d/recentf
.emacs.d/recentf*
.emacs.d/network-security.data
.emacs.d/*gz
.emacs.d/.python-environments
.emacs.d/image-direct/
.emacs.d/.emacs.desktop
.emacs.d/.emacs.desktop.lock
.emacs.d/.mc-lists.el
.emacs.d/ac-comphist.dat
.emacs.d/.places
.emacs.d/*desktop
.emacs.d/elpa
.emacs.d/*lock
.emacs.d/*~
.emacs.d/*.eld
.emacs.d/*.dat

